@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.938);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titre p {
    font-size: 5rem;
    text-transform: uppercase;
    white-space: normal;
}

.main1 a {
    font-size: 2.5rem;
    text-decoration: none;
    color: aqua;
    padding: 25px;
}

a:hover {
    color: violet;
    transition: color 0.5s;
}

hr {
    margin-top: 0;
    padding: 0;
    border: 1px;
    height: 2.5px;
    width: 100%;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%, rgba(92, 31, 139, 1) 54%, rgba(0, 0, 0, 1) 100%);
}

.geo p {
    font-size: 2rem;
    text-transform: uppercase;
    white-space: normal;
}

.geo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nutrizik p {
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    color: violet;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

fieldset {
    width: 100%;
    border: none;
}

textarea {
    width: 50%;
    border-radius: 4px;
}

label {
    text-align: start;
}

.envoyer {
    background-color: rgb(28, 184, 65);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    resize: none;
}

@media only screen and (max-width: 810px) {
    iframe {
        width: 100%;
    }

    .titre p {
        font-size: 5.5vw;
    }

    .geo p {
        font-size: 5vw;
    }

    input {
        width: 98%;
    }

    textarea {
        width: 98%;
    }
}