@media only screen and (min-width: 1080px) {

    body .page {
        margin: 20px 80px;
    }
}

#mobile-onglet {
    display: none;
}

#nav-mobile {
    visibility: hidden;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #171717;
    padding: 0;
    margin: 0;
    color: whitesmoke;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #171717;
    padding: 10px 0px;
    font-family: "Quicksand", sans-serif;
}

nav #onglets {
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav #onglets a {
    margin-right: 20px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
}

nav #onglets a:hover {
    color: violet;
    transition: color 0.5s;
    text-decoration: underline;
}



@media only screen and (max-width: 810px) {
    #mobile-onglet {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 20px;
        width: 16px;
        flex-wrap: wrap;
        right: 0;
        top: 0;
        z-index: 2;
        padding: 13px;
    }

    #mobile-onglet span {
        background-color: white;
        display: inline-block;
        height: 1px;
        width: 16px;
    }

    nav {
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: space-between;
        visibility: collapse;
        overflow: hidden;
    }

    #nav-mobile {
        position: fixed;
        height: 52px;
        background-color: #171717;
        width: 100%;
        top: 0;
        z-index: 1;
        visibility: visible;
    }

    .cont {
        flex-direction: column;
        align-items: center;
    }

    #onglets {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        background-color: #171717;
    }
}